// FONT
$font-size-default: 1.6rem;
$font-size-sm: 1rem;
$font-size-md: 1.4rem;
$font-size-lg: 2rem;


// COLORS

$primary-color: #4ec498;
$primary-color-light: #83f7c9;
$primary-color-dark: #00936a;

$secondary-color: #454c66;
$secondary-color-light: #717894;
$secondary-color-dark: #1c243b;

$grey-light: #f2f2f2;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;

$white: #fff;
$black: #000;
$red: #EF5350;
$red-dark: #b61827;



